html{
    font-family: 'Open Sans', sans-serif;
}
header{
    background: url("../img/header-bg.jpeg") no-repeat top center / cover ;
    background-attachment: fixed;
    background-position: 0 -320px;

}
.header_container{
    display: flex;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background: #3d3d3d;
}

.logo{
    display: flex;
}
.header_logo{
    margin: 22px 27px;
}
.header_logo_text{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}
.header_nav{
    margin-left: 477px;
}
.header_menu{
    display: flex;
    height: 72px;
}
.header_menu a{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 28px 0;
    line-height: 70px;
}
.header_menu a:hover{
    color: #14B9D5;
}
.menu_section{
    margin-right: 35px;
}
main{
    background: #F2F2F2;
}
.search{
    margin-left: auto;
    cursor: pointer;
}
.header_content{

}
.header_h1{
    text-align: center;
    margin-top: 165px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
}
.buttons{
    display: flex;
   justify-content: center;
    margin-top: 44px;
    padding-bottom: 74px;
}
.button1{
    width: 170px;
    height: 55px;
    background: #89CA62;
    text-align: center;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
}
.button_text{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}
.button2{
    width: 170px;
    height: 55px;
    background: #14B9D5;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

h2{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
.main_title1{
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
}
.posts_list{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 52px;
}
.image_desc{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    text-align: center;
    background: #FFFFFF;
    height: 62px;
    display: block;
    line-height: 62px;
}

.flex1, .flex2, .flex3{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.post1, .post2, .post3, .post4, .post5, .post6{
    margin-bottom: 30px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post1{
    width: 370px;
    height: 320px;
    display: flex;
    flex-direction: column;
}
.post2{
    width: 370px;
    height: 441px;
    display: flex;
    flex-direction: column;
}
.post3{
    width: 370px;
    height: 355px;
    display: flex;
    flex-direction: column;
}
.post4{
    width: 370px;
    height: 321px;
    display: flex;
    flex-direction: column;
}
.post5{
    width: 370px;
    height: 309px;
    display: flex;
    flex-direction: column;
}
.post6{
    width: 370px;
    height: 441px;
    display: flex;
    flex-direction: column;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 588px 326px 1689px 80px;
}
.grid-item{
    /*border: 1px solid black;*/
}
.popular_clients{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    background: url("../img/parallax-bg.jpeg") no-repeat top center / cover;;
    background-position: 0 -100px;
    background-attachment: fixed;
}
.clients_title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.clients_brands{
    text-align: center;
}
.brand{
    margin-right: 58px;
}
.brand:nth-child(2){
    margin-top: 10px;
}
.top_rated{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 136px 190px;
}
.top_rated_title{
    grid-column-start: 4;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;

    color: #18B4CF;
}
.top_img1{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-row-start: 2;
}
.top_img2{
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 2;
}
.top_img3{
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-row-start: 2;
}
.top_img4{
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    grid-row-start: 2;
}
.top_img5{
    width: 100%;
    height: 100%;
    grid-column-start: 5;
    grid-row-start: 2;
}
.top_img6{
    width: 100%;
    height: 100%;
    grid-column-start: 6;
    grid-row-start: 2;
}
.top_img7{
    width: 100%;
    height: 100%;
    grid-column-start: 7;
    grid-row-start: 2;
}
.hot_news_wrapper{
    max-width: 1169px;
    width: 100%;
    margin: 0 auto;
}
.hot_news{
    display: grid;
grid-template-columns: 277px 1fr 1fr 277px;
    grid-template-rows: 127px 259px 418px 416px 258px;
    align-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 42px;
}
.hot_news_title{
    text-align: center;
    grid-column: span 4;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;

    color: #18B4CF;
}
.hot_post1{
    display: flex;
    grid-column: span 3;
}
.post_title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #353A3D;
    line-height: 10px;
}
.post_text{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;

    color: #5B6469;
}
.hot_post1, .hot_post2, .hot_post3, .hot_post4, .hot_post5, .hot_post6, .hot_post7,
.hot_post8{
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    align-items: center;
}
.post1_img{
    width: 100%;
    height: 100%;
}
.hot_post3{
    grid-column: span 2;
}
.hot_post4{
    grid-column: span 2;
}
.hot_post5{
    grid-column: span 2;
}
.hot_post6{
    grid-column: span 2;
}
.hot_post7{
    grid-column: span 1;
}
.hot_post8{
    display: flex;
    grid-column: span 3;
}
.footer{
    display: grid;
    align-items: center;
    background: black;
    grid-template-rows: 1fr;
    grid-template-columns: 367px 512px 559px 105px 358px;
}
.footer_text{
    grid-column-start: 2;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: white;
}
.footer_logo{
    grid-column-start: 4;
}